.incident-view-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2%;

  .incident-view-card {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 2%;
  }
  .incident-view-title {
    text-align: center;
    font-size: 17px;
    padding: 2% 0;
  }
  .incident-view-description {
    padding: 2% 0;
  }
  .incident-view-image {
    padding: 2% 0;
    width: 100%;
    height: 500px;
  }
  @media screen and (max-width: 800px) {
    .incident-view-wrapper {
      padding: 5%;
      width: 300px;
      margin: auto;
      background-color: blue;
    }
    .incident-view-card {
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    .incident-view-image {
      padding: 2% auto;
      width: 100%;
      height: 500px;
    }
  }

  @media screen and (max-width: 500px) {
    .incident-view-card {
      margin: 0 auto;
      width: 70%;
      height: 100%;
      padding: 2%;
    }
    .incident-view-image {
      padding: 2% auto;
      width: 100%;
      height: 500px;
    }
  }
}
