.profile-container {
  padding: 3%;
  .profile-table {
    padding-left: 23%;
    margin-top: -41%;
  }
  .Header {
    background-color: #000033;
  }
  .profile-card {
    background-color: #0505cc;
    color: white;
  }
}
