.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;

  .profile-table {
    margin-left: 35px;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
  }
  .Header {
    background-color: #000033;
  }
  .profile-card {
    margin-left: 2%;
    margin-right: 2%;
  }
  .profile_span {
    font-size: 13px;
  }
  .report_total {
    font-size: 13px;
  }
  .card-right {
    margin-top: -2px;
  }
  .card-mobile {
    width: 100%;
    margin-left: 40px;
    justify-content: center;
    padding: 2%;
  }
}
